body {
    margin:0;
    padding:0
}
/*блок заголовка*/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url("../images/header.png") bottom no-repeat;
     background-size: cover;
    
}
h1 { 
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(19, 125, 139);
}
/*блок новости*/
.news {
    background-color:#fff;
    padding: 50px 0 32px;
}
article {
    width: 768px;
    margin: 0px auto 32px;
    padding: 6px 15px;
    border: 3 px solid rgb(10, 0, 0);

}
article:nth-child(even){
    width: 768px;
    margin: 0px auto 32px;
    padding: 6px 15px;
    border: 3 px solid rgb(10, 0, 0);
    background-color: rgb(187, 240, 214);
    

}
article a {
    color:rgb(10, 0, 0);
    text-decoration: none;
}

article a:hover {
    color: #0085a1;
}
article h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    }
article:nth-child(1) h2::after, article:nth-child(2) h2::after{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-bottom: 10px;
        color: red;
        content: "   NEW";
        }    

.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 10px;
} 
article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}   
article p {
    font-weight: 700;
}












/*блок футера*/

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}
footer .links {
    margin-bottom: 60px;
}
footer .links >a {
    color: saddlebrown;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    letter-spacing: .3rem;
    font-weight: 800;
    padding: 0 1vw;

}
.copyright {
    color:rgb(112, 10, 228);
    font-family: cursive;
}
