body {
    margin:0;
    padding:0
}
/*блок заголовка*/

header {
    background-image: url("../images/header.png");
    height: 400px;
    display: block;
    background-size: cover;
    position: relative;
    margin-bottom: 10px;
}
h1 { 
    position: absolute;
    display: block;
    right: 10vw;
    top: 3vh;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:saddlebrown
}
/*блок новости*/
.news {
    background-color:rgb(10, 177, 228, .1);
    padding: 50px 0 32px;
}
article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border: 3 px solid rgb(10, 0, 0);

}
article a {
    color:rgb(10, 0, 0);
    text-decoration: none;
}
article a:hover {
    color: #0085a1;
}
article h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}












/*блок футера*/

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}
footer .links {
    margin-bottom: 60px;
}
footer .links >a {
    color: saddlebrown;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    letter-spacing: .3rem;
    font-weight: 800;
    padding: 0 1vw;

}
.copyright {
    color:rgb(112, 10, 228);
    font-family: cursive;
}
